.navbar {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
    background-color: #0b8130;
    color: #fff;
    box-sizing: border-box;
  }
  
  .logo {
    font-size: 32px; 
    font-weight: bold;
  }
  
  .logoLink {
    text-decoration: none;
    color: #fff;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navLink {
    text-decoration: none;
    color: #fff;
  }
  
  .navItem {
    margin: 0 20px; /* Increased margin for more spacing */
    font-size: 22px; /* Increased font size for navigation items */
    cursor: pointer;
  }
  